
/*------------------------------------ algemeen ------------------------------------*/

body{
  font-family: 'NS Sans', 'Open Sans', sans-serif;
  color: #060922;
  margin: 0;
  background-color: #e6e6e9;
  font-weight: 200;
}

main{
  max-width: 100%;
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
}

a{
  color: #003082;
  text-decoration: none;
}

/*------------- kopjes -------------*/

h2{
  color: #003082;
  font-size: 1.5em;
  font-weight: 200;
}

h4{
  color: #003082;
  font-size: 1.5em;
  font-weight: 300;
}


/*------------------------------------ header ------------------------------------*/

body>header{
  background-color: #FFFFFF;
  color: #003082;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
  position: fixed;
  z-index: 99999999;
}

body>header>a>img:first-of-type{
    width: 3.25em;
    height: 1.25em;
    display: block;
    margin: 1em 0 0 1em;
}

body>header>a>h1{
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  margin: -1em 0 1em 4em;
}

body>header>nav{
  display: block;
}

body>header>nav>ul{
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-left: -2em;
}

body>header>nav>ul{
  list-style-type: none;
}

body>header>nav:first-of-type{
  display: none;
  margin: 1em 0 0 1em;
}

body>header>nav:first-of-type>ul>li{
  margin: 0 1em 0 0;
}

body>header>nav:first-of-type>ul>li:nth-child(1)>a::before{
  content: url("../images/mijnlijst.svg");
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}

body>header>nav:first-of-type>ul>li:nth-child(2)>a::before{
  content: url("../images/mijnaccount.svg");
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}


body>header>nav:not(:first-of-type){
  display: flex;
  margin-top: 1.2em;
}

body>header>nav:nth-of-type(2)>ul>li:first-of-type>a>img{
  height: 1.25em;
  margin: 0 0 0 1em;

}

body>header>nav:nth-of-type(2)>ul>li:nth-of-type(2)>a>img{
  height: 1.25em;
  margin: 0 2em 0 1em;
}

/*------------- media's / groot menu -------------*/

@media (min-width: 31.875em){
  body>header>nav:first-of-type{
    display: inline-block;
  }

  body>header>nav:nth-of-type(2){
    display: none;
  }
}

@media (min-width: 51.875em){
  body>header>a>img:first-of-type{
    margin-left: 2em;
  }

  body>header>a>h1{
    margin-left: 5em;
  }

  body>header>nav:first-of-type{
    margin-right: 1em;
  }
}

@media (min-width: 64.000em) {
  body>header>a>img:first-of-type{
    margin-left: 4em;
  }

  body>header>a>h1{
    margin-left: 6.5em;
  }

  body>header>nav:first-of-type{
    margin-right: 3em;
  }
}

@media (min-width: 85.313em) {
  body>header>a>img:first-of-type{
    margin-left: 8em;
  }

  body>header>a>h1{
    margin-left: 10em;
  }

  body>header>nav:first-of-type{
    margin-right: 6em;
  }
}

@media (min-width: 120.000em){
  body>header>a>img:first-of-type{
    margin-left: 25em;
  }

  body>header>a>h1{
    margin-left: 24em;
  }

  body>header>nav:first-of-type{
    margin-right: 25em;
  }
}

/*------------------------------------ overzichtspagina ------------------------------------*/

body>main>section>div>article>header:first-of-type{
  background-color: rgba(0, 0, 0, 0.1);
}

body>main>section>div>article>header:first-of-type>img{
  width: 2.5em;
  display: flex;
  margin-left: 18em;
  margin-bottom: -2em;
  cursor: pointer;
  position: relative;
}

body>main>section>div>article>header:nth-of-type(2){
  background-color: #ffc917;
  color: #003082;
  padding: .5em 0 .5em 1em;
  font-size: 1.25em;
}

body>main>section>article>header{
  background-color: rgba(0, 0, 0, 0.1);
}

body>main>section>article>header>img{
  width: 2.5em;
  display: flex;
  cursor: pointer;
  margin-left: 18em;
  margin-bottom: -2em;
  position: relative;
}

body>main>section>article>img {
  width: 21.5em;
  max-height: 8em;
}

body>main>section>div>article>img {
  width: 21.5em;
  max-height: 8em;
}

body>main>section>article{
  background-color: #FFFFFF;
  width: 21.5em;
  height: 20.5em;
  box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
  margin-bottom: 1.5em;
}

body>main>section>div>article{
  background-color: #FFFFFF;
  width: 21.5em;
  height: 23em;
  box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
  margin-bottom: 1.5em;
}

main div>article:nth-child(1n+2){
  margin-left: 1em;
}

main article h4 {
  font-size: 1.15em;
  margin-left: 1.8em;
  margin-bottom: 0.2em;
  font-weight: 400;
}

main article p {
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
  color: #003082;
}

main article a {
  font-size: 1em;
  margin-left: 3em;
  color: #0079D3;
  font-weight: 400;
}

article>a:last-child{
  position: relative;
}

article>a:last-child::before {
  content: '';
  background-image: url("../images/Icons_ns/pijl_rechts_klein_lblauw.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  width: 2.8rem;
  height: 2.8rem;
  display: block;
  position: absolute;
  transition: linear 0.1s;
  top: -.8000rem;
  left: -2rem;
}

main>section>div{
  overflow-x: scroll;
  display: flex;
}

main footer > p {
  display: inline-block;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
}

main article footer > p:nth-child(1)::before{
  content: url(../images/time.svg);
  width: 1em;
  height: 1em;
  display: inline-block;
}

main footer > p:nth-child(2)::before{
  content: url(../images/hart_icoon.svg);
  width: 1.12em;
  height: 1.12em;
  display: inline-block;
}

/*------------- media's -------------*/
@media (min-width: 23.750em){
  body>main>section:nth-of-type(2)>article{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 46.250em){
  body>main{
    margin-left: 2em;
    margin-right: 2em;
  }

  body>main>section>div>article{
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 51.875em){
  body>main{
    max-width: 48.125em;
    margin-left: auto;
    margin-right: auto;
  }
}

/*------ oa verbreden uitgelicht ------*/

@media (min-width: 64.000em){
  body>main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  body>main>section:nth-of-type(2)>div>article{
    width: 28em;
  }

  body>main>section:nth-of-type(2)>div>article>img{
    width: 28em;
  }

  body>main>section:nth-of-type(2)>div>article>header:first-of-type>img{
    margin-left: 24.5em;
  }
}

@media (min-width: 75.938em){
  body>main{
    max-width: 70.000em;
    margin-left: auto;
    margin-right: auto;
  }

  body>main>section:nth-of-type(2)>div>article{
    width: 34em;
  }

  body>main>section:nth-of-type(2)>div>article>img{
    width: 34em;
  }

  body>main>section:nth-of-type(2)>div>article>header:first-of-type>img{
    margin-left: 30.5em;
  }
}

/*------------- grid -------------*/

@media (min-width: 48.000em){
  body>main>section:nth-of-type(2){
    display: grid;
    grid-template-rows: 2em 14em 28em 22em 22em 22em;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    margin-right: 0.8em;
  }

  body>main>section>h2:nth-of-type(2){
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  body>main>section>form{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  body>main>section:nth-of-type(2)>div{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    margin-top: 3.5em;
  }

  body>main>section:nth-of-type(2)>article:nth-of-type(1){
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  body>main>section:nth-of-type(2)>article:nth-of-type(2){
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }

  body>main>section:nth-of-type(2)>article:nth-of-type(3){
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  body>main>section:nth-of-type(2)>article:nth-of-type(4){
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  body>main>section:nth-of-type(2)>article:nth-of-type(5){
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }

  body>main>section:nth-of-type(2)>article:nth-of-type(6){
    grid-row: 6 / 7;
    grid-column: 2 / 3;
  }
}

/*------------------------------------ zoekopties ------------------------------------*/

body>main>section>form{
  background-color: #ffc917;
  box-shadow: 0 .125rem 0 0 rgba(7, 7, 33, .15);
  width: 100%;
  height: 20em;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
}

body>main>section>form>div>fieldset{
  border: 0;
}

body>main>section>form>h3{
  color: #003082;
  font-weight: 300;
  font-size: 1.2em;
  margin: .5em 0 1em 1em;
}

body>main>section>form>div>fieldset>legend{
  color: #003082;
  font-weight: 300;
  margin: 1em 0 0 1em;
  font-size: 1.1em;
}


/*------------- zoekbalk -------------*/

body>main>section>form>fieldset:first-of-type{
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

main>section>form>fieldset:first-of-type>label{
  width: 100%;
  height: 2.5em;
  background-color: #FFFFFF;
}

body>main>section>form>fieldset:first-of-type>label>input{
  font-family: 'NS Sans', 'Open Sans', sans-serif;
  font-size: 0.8em;
  border: none;
  width: 88%;
  margin: 0.9em 0 0.8em 1em;
}

body>main>section>form>fieldset:first-of-type>label>input:focus {
  background: rgba(0,0,255,.2);
  border-radius: 0.2em;
  outline: none;
}

button[name="zoekbutton"]{
  margin: 0 0 0 0;
  padding: 0.5em 2.5em 0.6em 1.3em;
  font-size: 0.9em;
  color: #FFFFFF;
  background-color: #0079D3;
  border: none;
  box-shadow: inset 0 -.15em 0 #005ca0;
  transition: box-shadow .15s ease-in-out;
}

button[name="zoekbutton"]:hover{
  box-shadow: inset 0 -3em 0 #005ca0;
  cursor: pointer;
}

button[name="zoekbutton"]::after{
  content: url("../images/pijl_wit.svg");
  width: 1em;
  height: 1em;
  font-weight: 200;
  margin-left: 0.8em;
  margin-top: 0.1em;
  display: inline-block;
  position: absolute;
}

/*------------- filteren + sorteren buttons -------------*/

button[name="filterleesduur"], button[name="filteremotie"], button[name="sorteren"]{
  text-align: center;
  width: 9.5em;
  max-height: 2.5em;
  font-family: 'Ns Sans', 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: #003082;
  background-color: #ffc917;
  border: none;
  padding: 0.9em 1.5em 0.9em .5em;
  box-shadow: 0 -.15em 0 rgba(7, 7, 33, .1) inset;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

button[name="filterleesduur"]{
  margin-right: 1em;
}

button[name="filterleesduur"]:hover, button[name="filteremotie"]:hover, button[name="sorteren"]:hover {
  box-shadow: 0 -.125rem 0 rgba(7, 7, 33, .3) inset;
}

button[name=filterleesduur]::after, button[name=filteremotie]::after,button[name=sorteren]::after{
  content: url("../images/Icons_ns/pijl_beneden_dblauw.svg");
  width: 1em;
  height: 1em;
  font-weight: 200;
  margin-left: 8.4em;
  margin-top: -1.5em;
  margin-bottom: 1em;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

/*------------- filteren + sorteren dropdown -------------*/

body>main>section>form>div{
  display: flex;
  flex-direction: column;
}

body>main>section>form>div>fieldset:first-of-type{
  display: flex;
  flex-direction: row;
  margin-left: -.1em;
  margin-bottom: 2em;
}

/*------------- media's -------------*/

@media (min-width: 40.625em){
  body>main>section>form{
    height: 14.5em;
  }

  body>main>section>form>h3{
    margin: .5em 0 1em 2em;
  }

  body>main>section>form>fieldset{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  body>main>section>form>div{
    margin: 2em 1em 0 1em;
    flex-direction: row;
  }

  body>main>section>form>div>fieldset:first-of-type{
    justify-content: flex-start;
  }

  body>main>section>form>div>fieldset:nth-of-type(2){
    margin-left: 7em;
  }
}

@media (min-width: 48.125em){
  body>main>section>form>div>fieldset:nth-of-type(2){
    margin-left: 11em;
  }
}

@media (min-width: 64.000em){
  body>main>section>form>h3{
    margin-left: 4em;
  }

  body>main>section>form>fieldset{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  body>main>section>form>div{
    margin-left: 4em;
  }

  body>main>section>form>div>fieldset:nth-of-type(2){
    margin-left: 15em;
  }
}

@media (min-width: 75.938em){
  body>main>section>form>h3{
    margin-left: 8em;
  }

  body>main>section>form>fieldset{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  body>main>section>form>div{
    margin-left: 8em;
  }

  body>main>section>form>div>fieldset:nth-of-type(2){
    margin-left: 20em;
  }
}

input[type=checkbox]{
  visibility: hidden;
  display: none;
}

section>form>div>fieldset>div>div{
  color: #0d73c8;
  width: 10em;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-height: 15em;
  box-shadow: 0 0.3em 1.5em 0 rgba(7, 7, 32, .1);
  z-index: 2;
  overflow-y: scroll;
  position: absolute;
}

section>form>div>fieldset>div>div>label{
  background-color: #FFFFFF;
  width: 10em;
  text-align: center;
  padding: 0.8em 0em;
  cursor: pointer;
  margin-top: 0em;
  display: block;
}

section>form>div>fieldset>div>div>label:hover {
  background-color: #0079d3;
  color: #FFFFFF;
}

section>form>div>fieldset>div>div>input[type=checkbox]:checked + label {
  color: #FFFFFF;
  background-color: #0079d3;
}

/*------ filter leesduur ------*/

section>form>div>fieldset>div:nth-of-type(1)>div{
  display: none;
}

section>form>div>fieldset>div:nth-of-type(1)>div.leesduur_dropdown {
  display: block;
}

/*------ filter emotie ------*/

section>form>div>fieldset>div:nth-of-type(2)>div{
  display: none;
}

section>form>div>fieldset>div:nth-of-type(2)>div.emotie_dropdown{
  display: block;
}

/*------ sorteren ------*/

section>form>div>fieldset:nth-of-type(2)>div:nth-of-type(1)>div{
  display: none;
}

section>form>div>fieldset:nth-of-type(2)>div:nth-of-type(1)>div.sorteren_dropdown{
  display: block;
}


/*------------------------------------ footer ------------------------------------*/

body>footer img {
    width: 3.25em;
    height: 1.25em;
    display: block;
    margin: 1.5em 0 0 0;
}

body>footer{
    background-color: white;
    height: 4.5em;
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
}

body>footer p{
  color: #003082;
  margin-right: 1em;
  margin-top: 1.5em;
}

/*------------- media's -------------*/

@media (min-width: 85.313em) {
  body>footer>a{
    margin-left: 5em;
  }

  body>footer p{
    margin-right: 5em;
  }
}

@media (min-width: 120.000em){
  body>footer>a{
    margin-left: 22em;
  }

  body>footer p{
    margin-right: 24em;
  }
}
