
body>main>section:nth-of-type(2){
  background: url('../images/telegrafisch-mobiel.png') fixed center no-repeat;
  background-size: 90%;
  background-position: 1em 7.5em;
  width: 100%;
  overflow-x: scroll;
}

body>main>section:first-of-type>p::before{
  top: 6.3em;
}

body>main>section:nth-of-type(2)>p{
  display: none;
}

body>main>section:nth-of-type(2)>div{
  width: 45em;
  height: auto;
}

body>main>section>div:first-of-type>article{
  display: inline-block;
  box-shadow: none;
  background: none;
}

body>main>section>div>article:first-of-type{
  width: 40em;
  height: auto;
  margin-top: 0;
  margin-left: 1em;
}

body>main>section>div:first-of-type>article:nth-of-type(2){
  width: 40em;
  height: auto;
  margin-left: 1em;
}

body>main>section>div:first-of-type>article>p{
  color: #000000;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(1){
  margin-top: 3.05em;
  margin-left: 3em;
  font-size: 1.3em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(2){
  margin-top: 3.5em;
  margin-left: 1.2em;
  margin-right: 3em;
  font-size: .7em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(3){
  margin-left: 1em;
  margin-right: 3em;
  font-size: .9em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(4){
  margin-top: -1em;
  margin-left: 3.5em;
  margin-right: 2em;
  font-size: .9em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(5){
  margin-top: -.4em;
  margin-left: 4.5em;
  margin-right: 0;
  font-size: .7em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(6){
  margin-top: -1em;
  margin-left: 4em;
  margin-right: 4em;
  font-size: .8em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(7){
  margin-top: 2.3em;
  margin-left: 1em;
  margin-right: 7em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(8){
  margin-top: 1.7em;
  margin-left: 1em;
  margin-right: 2.5em;
  font-size: .8em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(9){
  margin-left: 2em;
  margin-right: 0;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(10){
  margin-top: -1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: .8em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(1){
  margin-top: 4em;
  margin-left: 5.6em;
  margin-right: 3em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(2){
  margin-left: 3.5em;
  margin-right: 3em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(3){
  margin-top: 1em;
  margin-left: 2.5em;
  margin-right: 3em;
  font-size: .9em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(4){
  margin-left: 4.3em;
  margin-right: 3em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(5){
  margin-top: -1.2em;
  margin-left: 7em;
  margin-right: 0em;
  font-size: .7em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(6){
  margin-top: 3.3em;
  margin-left: 3em;
  margin-right: 6em;
  font-size: .8em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(7){
  margin-top: 0em;
  margin-left: 10em;
  margin-right: 0;
  font-size: 1em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(8){
  margin-left: 2.5em;
  margin-right: 3em;
}

body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(9){
  margin-top: -.2em;
  margin-left: 2em;
  margin-right: 0;
  font-size: 2em;
}


@media (min-width:48.000em){
  body>main>section:nth-of-type(2){
    background: url('../images/telegrafisch-tablet.png') fixed center no-repeat;
    background-size: 95%;
    background-position: 4em 7.5em;
    width: 90%;
    overflow-x: scroll;
  }

  body>main>section:nth-of-type(2)>p{
    display: none;
  }

  body>main>section:nth-of-type(2)>div{
    width: 80%;
    height: auto;
  }

  body>main>section>div:first-of-type>article{
    display: inline-block;
    box-shadow: none;
    background: none;
  }

  body>main>section>div>article:first-of-type{
    width: 50em;
    height: auto;
    margin-top: 0;
    margin-left: 2em;
  }

  body>main>section>div:first-of-type>article:nth-of-type(2){
    width: 50em;
    height: auto;
  }

  body>main>section>div:first-of-type>article>p{
    color: #000000;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(1){
    margin-top: 0;
    margin-left: 6em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(2){
    margin-top: 2.5em;
    margin-left: 1.5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(3){
    margin-top: 0;
    margin-left: 1em;
    font-size: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(4){
    margin-top: -.7em;;
    margin-left: 6em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(5){
    margin-top: -.5em;
    margin-left: 6em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(6){
    margin-top: -.2em;
    margin-left: 1.3em;
    margin-right: 5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(7){
    margin-top: -.4em;
    margin-left: 3em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(8){
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 11em;
    font-size: 1.2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(9){
    margin-top: 1.5em;
    margin-left: 6.6em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(10){
    margin-top: -.4em;
    margin-left: 3em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(1){
    margin-top: -.1em;
    margin-left: 8em;
    margin-right: 6em;
    font-size: 1em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(2){
    margin-top: -.5em;
    margin-left: 10em;
    font-size: .8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(3){
    margin-top: .7em;
    margin-left: 1.5em;
    font-size: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(4){
    margin-top: -.5em;;
    margin-left: 8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(5){
    margin-top: -.5em;
    margin-left: 8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(6){
    margin-top: -.2em;
    margin-left: 2em;
    margin-right: 5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(7){
    margin-top: -.4em;
    margin-left: 4em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(8){
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 11em;
    font-size: 1.2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(9){
    margin-top: 0em;
    margin-left: 6.6em;
    margin-right: 5em;
    font-size: 2em;
  }
}


@media (min-width:74.375em){
  body>main>section:nth-of-type(2){
    background: url('../images/telegrafisch-desktop.png') fixed center no-repeat;
    background-size: 95%;
    background-position: 4em 7.5em;
    width: 90%;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  body>main>section:nth-of-type(2)>div{
    width: 150em;;
    height: auto;
    margin-top: 2.5em;
    margin-left: 4.5em;
  }

  body>main>section>div>article:first-of-type{
    width: 90em;
  }

  body>main>section>div>article:nth-of-type(2){
    width: 90em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(1){
    margin-top: 0;
    margin-left: 6em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(2){
    margin-top: 2.5em;
    margin-left: 1.5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(3){
    margin-top: -.3em;
    margin-left: 1em;
    font-size: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(4){
    margin-top: -.7em;;
    margin-left: 6em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(5){
    margin-top: 2em;
    margin-left: 6em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(6){
    margin-top: 2em;
    margin-left: 1.3em;
    margin-right: 5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(7){
    margin-top: -.4em;
    margin-left: 2em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(8){
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 40em;
    font-size: 1.2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(9){
    margin-top: 1.5em;
    margin-left: 6.6em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(10){
    margin-top: -1em;
    margin-left: 3em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(1){
    margin-top: -.2em;
    margin-left: 6.5em;
    margin-right: 6em;
    font-size: .8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(2){
    margin-top: -.5em;
    margin-left: 10em;
    font-size: .8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(3){
    margin-top: 1.2em;
    margin-left: 0em;
    margin-right: 8em;
    font-size: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(4){
    margin-top: -.8em;;
    margin-left: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(5){
    margin-top: -.5em;
    margin-left: 8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(6){
    margin-top: 1.2em;
    margin-left: 0;
    margin-right: 5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(7){
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(8){
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 11em;
    font-size: 1.2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(9){
    margin-top: 0em;
    margin-left: 2.5em;
    margin-right: 5em;
    font-size: 2em;
  }
}

@media (min-width:78.00em){
  body>main>section:first-of-type>p::before{
    left: 5em;
  }

  body>main>section:nth-of-type(2){
    background: url('../images/telegrafisch-desktop.png') fixed center no-repeat;
    background-size: 85%;
    background-position: 6em 7.5em;
    width: 90%;
    overflow-x: scroll;
    overflow-y: scroll;
  }

  body>main>section:nth-of-type(2)>div{
    width: 150em;;
    height: auto;
    margin-top: 2.5em;
    margin-left: 4.5em;
  }

  body>main>section>div>article:first-of-type{
    width: 90em;
  }

  body>main>section>div>article:nth-of-type(2){
    width: 90em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(1){
    margin-top: 0;
    margin-left: 6em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(2){
    margin-top: 2.5em;
    margin-left: 1.5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(3){
    margin-top: -.5em;
    margin-left: 1em;
    font-size: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(4){
    margin-top: -.7em;;
    margin-left: 6em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(5){
    margin-top: 2em;
    margin-left: 6em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(6){
    margin-top: 1.4em;
    margin-left: 1.3em;
    margin-right: 5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(7){
    margin-top: -.4em;
    margin-left: 1.5em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(8){
    margin-top: -.3em;
    margin-left: 4em;
    margin-right: 40em;
    font-size: 1.2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(9){
    margin-top: .5em;
    margin-left: 6.6em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(1)>p:nth-of-type(10){
    margin-top: 0em;
    margin-left: 3em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(1){
    margin-top: -.2em;
    margin-left: 6em;
    margin-right: 6em;
    font-size: .8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(2){
    margin-top: -.5em;
    margin-left: 5em;
    font-size: .8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(3){
    margin-top: 1.2em;
    margin-left: -1.5em;
    margin-right: 10em;
    font-size: 2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(4){
    margin-top: -1em;;
    margin-left: -1em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(5){
    margin-top: -1em;
    margin-left: 8em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(6){
    margin-top: 1em;
    margin-left: -2em;
    margin-right: 5em;
    font-size: 1.3em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(7){
    margin-top: 1em;
    margin-left: -.5em;
    margin-right: 12em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(8){
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 11em;
    font-size: 1.2em;
  }

  body>main>section:nth-of-type(2)>div>article:nth-of-type(2)>p:nth-of-type(9){
    margin-top: 0em;
    margin-left: .8em;
    margin-right: 5em;
    font-size: 2em;
  }
}
